starcoin-contracts/build
starcoin-contracts/storage
starcoin-go-service/build
starcoin-contracts/alice
starcoin-ns-demo
starcoin-contracts/release
sui.log.*
sui-contracts/build/
sui-java-service/dddml-suidemocontracts.net.sln
sui-java-service/.idea/
sui-java-service/suiDemoContracts-parent.iml
sui-java-service/Dddml.SuiDemoContracts.HttpServices.Client/
sui-java-service/modules/cmd-api/.idea/
sui-java-service/**/*.csproj
sui-java-service/**/*.iml
sui-java-service/suiDemoContracts-cmd-rest/.idea/
sui-java-service/suiDemoContracts-cmd-rest/target/
sui-java-service/*/target/
sui-java-service/**/*.tc
sui-java-service/**/*.tt
sui-contracts/.idea
.idea
sui-contracts/.dddmlignore
sui-java-service/.dddmlignore
**/.aptos/
aptos-contracts/**/build
rooch-contracts/build
rooch-java-service/scripts/2023*hbm2ddl_update.sql
rooch-java-service/scripts/hbm2ddl_create.sql
rooch-java-service/scripts/hbm2ddl_create_fix.sql
rooch-java-service/scripts/hbm2ddl_drop.sql
Move.lock
aptos-java-service/scripts
